[user]
  name = Krish-Das
  email = krishdasatgames@gmail.com

[color]
  ui = auto
[branch]
  sort = -committerdate
[column]
  branch = always
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  followTags = true

[core]
  editor = "$EDITOR"
  pager = delta --diff-so-fancy --detect-dark-light=always

[delta]
  syntax-theme = base16-256

[alias]
  # restore = Guilty
  st = status --short
  lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
  current = branch --show-current
  oops = commit --amend --no-edit
  reword = commit --amend
  push-with-lease = push --force-with-lease
  rebase-with-hooks = rebase -x 'git reset --soft HEAD~1 && git commit -C HEAD@{1}'
  review-local = "!git lg @{push}.."

[gitbutler]
	aiModelProvider = anthropic
[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
